.grid {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 300px;
}
#styleScore{
  display: inline-block;
}
#styleVida{
  margin-left: 80px;
  display: inline-block;
}
#boto{
  margin-left: 120px;
}


